<div class="container">
  <header class="jumbotron">
    <div class="jumbotron">
      <h1 class="display-4">
        Hello there, I'm using BookingApp!
      </h1>
      <p class="lead">
        This is a simple general purpose booking app, and that's a window to get
        extra attention to featured content or information.
      </p>
        <button
          type="button"
          (click)="goToLogin()"
          class="btn btn-primary btn-lg"
        >
          Login
        </button>
        <hr class="my-4" />
        <div class="container">
        <p class="lead">
          Don't have an account yet? Sign Up!
        </p>
        <button
          type="button"
          (click)="goToSignUp()"
          class="btn btn-secondary btn-lg"
        >
          Sign Up
        </button>
      </div>
    </div>
  </header>
  <body></body>
</div>
