<div class="container">
  <header class="jumbotron">
    <div class="jumbotron">
      <h1 class="display-4">Oh no!<span class="badge badge-primary">403</span></h1>
      <p class="lead">Forbidden Access. Seems like you have no permission to be there.</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Return Home</a>
        <a class="btn btn-outline-primary btn-lg" href="mailto:tosqui17@gmail.com" role="button">Contact our support</a>
      </p>
    </div>
  </header>
  <body>
  </body>
