
<div class="container">
  <header class="jumbotron">
      <div class="alert alert-success" *ngIf="isBooked">
        {{content}}
      </div>
      <div class="alert alert-danger" *ngIf="!isBooked && content.length>0">
        {{content}}
      </div>
      <h1 class="display-4">Here, you can make your reservation!
      <span class="badge badge-primary ">Be quick!</span></h1>
      <h2 class="display-4">But.. </h2>
      <p class="lead">We don't like working Saturdays, Sundays and days the boss decides.</p>
      <hr class="my-4">
      <select class="form-select">
        <option selected>Select a date</option>
        <option *ngFor="let d of datesHours" (click)="onSelectDate(d)">{{d.date}}</option>
      </select>
      <br>
      <select *ngIf=showHour class="form-select">
        <option selected>Select an hour</option>
        <option *ngFor="let h of data.hours" (click)="onSelectHour(h)">{{h.substr(0,5)}}</option>
      </select>
      <br>
      <p class="lead" *ngIf="showButton" (click)="onReserve(data.date,hour)">
        <a class="btn btn-primary btn-lg" role="button">Reserve</a>
      </p>
  </header>
  <body>
  </body>

